Source: qttermtcp
Section: hamradio
Priority: optional
Maintainer: Debian Hamradio Maintainers <debian-hams@lists.debian.org>
Uploaders:
 Dave Hibberd <d@vehibberd.com>,
Standards-Version: 4.6.0.0
Vcs-Browser:
Vcs-Git:
Homepage: https://www.cantab.net/users/john.wiseman/Documents/QtTermTCP.html
Build-Depends: debhelper-compat (= 13), qtbase5-dev, qt5-qmake, libqt5serialport5-dev, qtmultimedia5-dev
Rules-Requires-Root: no

Package: qttermtcp
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt-based Terminal for packet
 QtTermTCP is a multiplatform terminal for packet that will work over TCP, KISS
 and other modes of connectivity
